fastapi
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]
email-validator
python-multipart
aiofiles
fastapi-mail
httpx
python-dotenv
typing-extensions
pydantic-settings
requests
beautifulsoup4
# 유저별 세션 히스토리 관리
redis

# IDW 보간 처리용
geopy
pandas
geopandas
shapely
numpy

# DB 드라이버 (예: MySQL인 경우)
pymysql
# 또는 PostgreSQL인 경우:
# psycopg2-binary

# D:\Ai-project\backend> pip install -r requirements.txt